/* public/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

a.round-button {
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 10px 15px;
    background-color: #000000;
    color: #ffffff;
}

a:hover {
    transform: scale(1.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.card {
    width: 100%;
    height: 385px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 89%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 1px;
}

.product-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.product-description {
    flex-grow: 1;
    margin-bottom: 10px;
}

.product-price {
    margin-bottom: 10px;
}

.product-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.product-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    max-height: 350px;
    object-fit: cover;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.category-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

.category-button:hover {
    transform: scale(1.1);
}

.fa-heart {
    color: red;
}

.favorite-button i.fa-heart:before {
    content: "\2665";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 24px;
    color: red;
}

.favorite-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.favorite-button:hover {
    color: darkred;
}

/* Стили для таблицы в корзине */
.table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #343a40;
    color: white;
}

.table td {
    background-color: #ffffff;
}

.table tbody tr:hover {
    background-color: #f8f9fa;
}
.payment-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form label {
    display: block;
    margin-bottom: 8px;
}

.payment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment-form button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.payment-form button:hover {
    background-color: #333;
}

.payment-form .error-message {
    color: red;
    margin-top: 5px;
}

.payment-form .success-message {
    color: green;
    margin-top: 5px;
}
.custom-card {
    min-height: 650px; /* Adjust the value as needed */
}
.cart-container {
    margin-top: 20px;
}

.cart-table th,
.cart-table td {
    text-align: center;
}

.cart-table img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 8px;
    margin-right: 15px;
}

.cart-total {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.cart-total h4 {
    font-weight: bold;
}

.cart-total h4.total-quantity {
    margin-bottom: 25px;
}

.cart-total h4.total-payment {
    color: #ff0000; /* красный цвет */
}
.custom-tall-card {
    height: 100%;
}
.accept-order:active {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
.support-contact {
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.support-contact p {
    margin: 0;
    font-weight: bold;
    color: #333;
}

.support-contact a {
    color: #007bff;
    text-decoration: none;
}