/* public/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.05);
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

img {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
}
h1 {
    text-align: center;
}
h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

/* public/css/styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-image {
        max-width: 40%; /* Уменьшенная максимальная ширина изображения */
        margin: 10px 0; /* Отступы сверху и снизу */
    }

    .product-info {
        width: 100%;
    }
</style>